@import "markos/Desktop/css/style.css";
@import "markos/Folder/css/style.css";
@import "markos/_SoftwareContainer/css/_SoftwareContainer.css";
@import "markos/FileManager/css/FileManager.css";

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
