@import "markos/Folder/css/style.css";
@import "markos/_WindowContainer/css/_WindowContainer.css";

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.desktop {
	width: 100%;
	height: calc(100% - 50px);
	background-color: cyan;
	display: flex;
}

.hotbar {
	width: 100%;
	height: 100px;
	background-color: #666666;
	display: flex;
}
