<div class="${softwareContainerClass}">
    <div class="${softwareContainerClass}-header" data-dojo-attach-point="softwareContainerHeaderNode">
        <div class="close-button" data-dojo-attach-event='onclick: closeWindow'>&#10006;</div>
        <div class="close-button">
            <img class="container-image" src="" data-dojo-attach-point='maxminNode'
                 data-dojo-attach-event='onclick: maxminWindow'/>
        </div>
    </div>
    <div class="${softwareContainerClass}-body" data-dojo-attach-point="softwareContainerBodyNode"></div>
</div>