
.education-row {
    position: relative;
    display: flex;
    margin: 0 10px 5px 10px;
}

.education-container {
    width: calc(100% / 12 * 12);
    margin: 10px 0 10px 0;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 0;
}

.education-title, .education-image {
    padding: 10px 15px 10px 15px;
}

.education-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.education-image {
    display: flex;
    justify-content: center;
}

.education-image img {
    width: auto;
    margin-bottom: 10px;
    object-fit: contain;
}

.education-container h5 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 600;
    color: #666666;
}

.education-container h4{
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.75em;
    font-weight: 600;
    color: #666666;
}

.education-container p, .education-container li {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #666666;
}

.education-title p {
    margin: 0;
    padding: 0;
}

.education-title h4 {
    margin: 0;
    padding: 0;
}

.education-summary-container ul {
    padding: 0 0 10px 60px;
}

.education-summary-container p {
    padding: 0 0 10px 60px;
    margin: 0;
}

.education-summary-container h5 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.education-summary-container {
    width: calc(100% / 12 * 12);
}




@media (min-width: 550px ) {

    .education-row {
        display: flex;
        flex-direction: row;
        width: calc(100% / 12 * 12);
    }

    .education-container {
        width: calc(100% / 12 * 12);
        padding: 15px;
        border-radius: 0;
    }

    .education-header {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .education-margin {
        display: none;
    }

    .education-image {
        width:200px;
        height: 150px;
        margin-bottom: 20px;
        padding: 0 20px 0 10px;
        justify-content: flex-start;
        border-right: solid;
        border-right-color: #999999;
        border-right-width: 2px;
    }

    .education-image img {
        margin: 10px 0 10px 0;
        object-fit: contain;
    }

    .education-title {
        padding: 0 10px 0 10px;
        flex-grow: 10;
    }

    .education-summary-container h5 {
        font-size: 18px;
        text-align: left;
    }
    .education-summary-container p {
        margin-right: 40px;
        padding: 0 0 10px 40px;
    }

    .education-summary-container ul {
        padding: 0 0 10px 60px;
    }

}

@media ( min-width: 900px ) {

}

@media ( min-width: 1280px ) {

}

@media ( min-width: 1700px ) {

    .education-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: calc(100% / 12 * 10);
    }

    .education-summary-container {
        width: calc(100% / 12 * 10)
    }

}