.markos-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.markos-icon .icon-click {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
}

.markos-icon .icon-image {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.markos-icon .icon-name {
    font-family: sans-serif;
    text-align: center;
    word-wrap: break-word;
    font-size: 14px;
}

@media (min-width: 550px ) {

}

@media ( min-width: 900px ) {

}

@media ( min-width: 1280px ) {
    .markos-icon {
        width: 100px;
        display: flex;
    }

    .markos-icon .icon-image {
        height: 50px;
        width: 50px;
    }

}

@media ( min-width: 1700px ) {

}